{% extends "main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Classroom</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.department }}</td>
                <td>{{ student.studentprofile.email }}</td>
                <td>{{ student.studentprofile.address }}</td>
                <td>{{ student.studentprofile.phone }}</td>
                <td>{{ student.classroom.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}