{% extends "main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div style="float: right">
    <a class="btn btn-success"  href="{% url 'template_form' %}">Add Student</a>
    <a class="btn btn-warning" href="{% url 'logout' %}">Logout</a><br><br>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Classroom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.department }}</td>
                <td>{{ student.student_profile.email }}</td>
                <td>{{ student.student_profile.address }}</td>
                <td>{{ student.student_profile.phone }}</td>
                <td>{{ student.classroom.name }}</td>
                <td><a href="{% url 'student_detail' student.id %}">Detail</a></td>
                <td><a href="{% url 'student_update' student.id %}">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}